* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 50%;
    margin: 2rem auto;
}

.tabs {
    overflow: hidden;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}

.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem;
    transition: 0.3s;
    font-weight: bold;

}

.tabs button:hover {
    background-color: #ddd;
}

.tabs-content {
    display: none;
    padding: .6rem;
    border: 1px solid #ccc;
    background-color: white;
    border-top: none;
}

.tabs-content h3 {
    margin-bottom: 1rem;
}

.tabs button.active {
    background-color: white;
    border-top: 5px solid #f44336;
}